<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %}bootstrap5 css{% endcomment %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% comment %}style css{% endcomment %}
    {% comment %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    {% endcomment %}
    <title>점프 투 장고</title>
  </head>
  <body>
    {% comment %}네비게이션바{% endcomment %}
    {% include 'navbar.html' %}
    {% block content %}
      {% comment %}기본 템플릿 안에 삽입될 내용{% endcomment %}
    {% endblock %}

    {% block script %}
      {% comment %}js{% endcomment %}
    {% endblock %}
  </body>
</html>
